.page-content {
  background:#fff;
  padding:10px;

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h3{
      font-weight: 700;
    }
  }

  &__pagination{
    display: flex;
    margin-top:10px;
    justify-content: flex-end;
  }
}
